<a href=""
    class="<% if (response.page === 1) { %> visually-hidden <% } %> previous btn bg-primary-subtle border-0 text-dark fw-bold rounded-4 ms-3 me-auto"
    style="width: 80px;">Trước
</a>
<a href=""
    class="<% if (response.page === response.maxPage) { %> visually-hidden <% } %> next btn bg-primary-subtle border-0 text-dark fw-bold rounded-4 <% if (response.page === 1) { %> ms-auto <% } %>"
    style="width: 80px;">Sau
</a>